* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif !important;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  background-color: black;
  height: 64px;
  .head-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    h1 {
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
      color: #87ceeb;
    }
    .head-end {
      margin-left: 900px;
      display: flex;
      gap: 30px;
      select {
        border: none;
        background-color: black;
        color: white;
        cursor: pointer;
        outline: none;
      }
      button {
        width: 133px;
        height: 40px;
        padding: 8px 17px 8px 19px;
        gap: 0px;
        border-radius: 8px;
        opacity: 0px;
        box-shadow: 0px 1px 5px 0px #0000001f;
        box-shadow: 0px 2px 2px 0px #00000024;
        box-shadow: 0px 3px 1px -2px #00000033;
        border: none;
        background-color: #87ceeb;
        color: black;
        font-size: 14px;
        font-weight: 500;
        line-height: 24.5px;
        letter-spacing: 0.4000000059604645px;
        text-align: center;
        cursor: pointer;
        // position: absolute;
        // z-index: 1000;
        // font-size: 16px;
      }
      button:hover {
        background-color: #99d1e7;
        transition: 0.4s;
      }
    }
  }
}

.Link {
  text-decoration: none;
}

.App {
  display: flex;
}

// .toggle-button {
//   width: 133px;
//   height: 40px;
//   left: 15px;
//   padding: 8px 17px 8px 19px;
//   gap: 0px;
//   border-radius: 8px;
//   opacity: 0px;
//   box-shadow: 0px 1px 5px 0px #0000001f;
//   box-shadow: 0px 2px 2px 0px #00000024;
//   box-shadow: 0px 3px 1px -2px #00000033;
//   border: none;
//   background-color: #87ceeb;
//   color: black;
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 24.5px;
//   letter-spacing: 0.4000000059604645px;
//   text-align: center;
//   cursor: pointer;
// }
.App {
  // padding-left: 20px;
  position: fixed;
  z-index: 1100;
}
#app {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  // flex-direction: column;
  // min-height: 100vh;
}
.sidebar {
  margin-left: 200px;
  right: -510px;
  position: fixed;
  z-index: 1100;
  top: 0;
  width: 510px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  transition: right 0.3s;
}
.head-exit {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30px;
  margin-left: 20px;
  display: flex;
}
.sidebar.open {
  right: 0;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #575757;
}
.head-side {
  width: 200px;
  height: 200px;
  gap: 0px;
  border-radius: 25px;
  opacity: 0px;
  background-color: #14161a;
  padding-top: 17px;

  .side-img {
    width: 60px;
    height: 58px;
    margin-bottom: 30px;
    margin-left: 70px;
  }
  .side-but {
    width: 60px;
    height: 30px;
    background-color: red;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;
    margin-left: 70px;
  }
  .side-h {
    margin-left: 40px;
    margin-bottom: 15px;
  }
  .side-but:hover {
    background-color: rgb(241, 50, 50);
    transition: 0.4s;
  }
}
